:root {
  --md-admonition-icon--code: url('data:image/svg+xml;charset=utf-8,')
}
.md-typeset .admonition.code,
.md-typeset details.code {
  border-color: rgb(43, 155, 70);
}
.md-typeset .code > .admonition-title,
.md-typeset .code > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .code > .admonition-title::before,
.md-typeset .code > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--code);
          mask-image: var(--md-admonition-icon--code);
}
